<?xml version="1.0" encoding="utf-8"?>
<HVACProConfig>
  <Database>
    <Server>.\SQLEXPRESS</Server>
    <DatabaseName>HVAC_PRO</DatabaseName>
    <UseWindowsAuth>true</UseWindowsAuth>
    <Username>
    </Username>
    <Password>
    </Password>
  </Database>
  <Tenant>
    <TenantCode>default</TenantCode>
    <SeedDemoData>false</SeedDemoData>
  </Tenant>
  <App>
    <Version>1.0.20.0</Version>
    <VersionCheckUrl>https://servoerp.in/version.txt</VersionCheckUrl>
    <VersionCheckEnabled>true</VersionCheckEnabled>
    <VersionCheckIntervalHours>24</VersionCheckIntervalHours>
    <UpdateDismissedUntil>
    </UpdateDismissedUntil>
  </App>
  <Mail>
    <OutlookTenant>common</OutlookTenant>
    <OutlookClientId>
    </OutlookClientId>
    <GmailClientId>
    </GmailClientId>
    <GmailClientSecret>
    </GmailClientSecret>
  </Mail>
</HVACProConfig>