PORT=4300
META_ACCESS_TOKEN=replace_me
META_VERIFY_TOKEN=replace_me
PHONE_NUMBER_ID=replace_me
META_API_VERSION=v23.0
META_APP_SECRET=
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3
SQLSERVER_CONNECTION_STRING=Server=.;Database=HVAC_PRO;Trusted_Connection=True;TrustServerCertificate=True;
SQLSERVER_INSTANCE=HARSHAL\SQLEXPRESS
SQLSERVER_DATABASE=HVAC_PRO
PO_SOURCE_DIR=C:\HVAC_PRO_MSE\DATABASE\Purchase Order AMC\Purchase Order AMC
PO_OCR_ENABLED=1
PO_OCR_PAGES=2
WHATSAPP_DEFAULT_COUNTRY_CODE=91
SOCKET_CORS_ORIGIN=*
MONGO_DB_NAME=hvac_pro
MONGO_SERVICE_COLLECTION=service_jobs
GEO_TIMEZONE=Asia/Kolkata
